body {
    min-height: 763px;
}
.bg-triangles {
    background-image: url(https://res.cloudinary.com/dugodumc5/image/upload/v1676478985/MyCV/Screenshot_2023-02-15_233451-removebg-preview_1_ywydyx.png),
    url(https://res.cloudinary.com/dugodumc5/image/upload/v1676479009/MyCV/Screenshot_2023-02-15_233401-removebg-preview_pzcjb7.png);
    background-repeat: no-repeat;
    background-size: inherit;
    background-position: left top, right bottom;
}
.avatar {
    /* margin-top: -8rem; */
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    transition: all .3s ease-in-out;
    filter: drop-shadow(0px 24px 24px rgba(32, 29, 42, 0.7));
    max-height: 12rem;
    max-width: 12rem;
    height: 12rem;
    width: 12rem;
    display: block;
}
.badge{
    background-color: #272333;
    font-size: 0.9375rem;
    font-weight: 400;
    border-radius: 10rem;
    padding: 0.5rem 1rem;
    display: inline-block;
    line-height: 1;
    text-align: center;
}
.social{
    margin-top: 15px;
    margin-bottom: 5px;
    line-height: 0;   
}
.social__link:first-child{
    margin-left: 0;
}
.social__link {
    color: #fff;
    display: inline-block;
    font-size: 0.875rem;
    margin-left: 0.8125rem;
    text-decoration: none;
    transition: all 0.3s;
}
.box-inner{
    padding-top: 0.7rem;
    padding-bottom: 2rem;
}
.contacts-block__item{
    display: flex;
    align-items: center;
    margin-bottom: 0.6875rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.btn{
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
    background-color: #0D86FF;
    box-shadow: 0 0.5rem 1rem rgb(13 134 255 / 15%), 0 0.125rem 0.25rem rgb(13 134 255 / 15%);
}
.box{
    padding: 1.875rem;
    position: relative;
    transition: box-shadow .3s ease-in-out;
}
.inner-menu{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 3.5rem;
    padding-right: 1.4rem;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    transition: all 1s;
}
.circle-menu{
    background-color: #0D86FF;
    border-radius: 50% 1.25rem 50% 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    position: absolute;
    top: 0;
    right: 0;
    width: 3.75rem;
    z-index: 2;
}
.hamburger{
    cursor: pointer;
    color: #fff;
    display: block;
    font-size: 26px;
    transition: all 0.5s ease-in-out;
}
.nav{
    background: #0D86FF;
    box-shadow: 0 1.5rem 2.5rem rgb(13 134 255 / 5%), 0 0.5rem 1rem rgb(13 134 255 / 5%);
    padding-right: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    overflow: hidden;
    border-radius: 40px 0px 10px 2rem;
}
.nav__item{
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    
}
.nav__item > a {
    color: rgba(255, 255, 255, 0.7);
    transition: all 0.3s;
}
.nav__item > a:hover{
    color: #fff;
}
.title__separate::before {
    content: '';
    background-color: #304CFD;
    border-radius: 0.5rem;
    height: 0.3125rem;
    position: absolute;
    bottom: -1.0625rem;
    left: 0;
    width: 3.125rem;
    z-index: 1;
}
.case-item{
    display: flex;
    border-radius: 15px;
    margin-bottom: 1.8rem;
}
.case-item__icon{
    margin-right: 1.1875rem;
    height: 2.5rem;
    width: 2.5rem;
}
.case-item__caption{
    margin-bottom: 0;
    color: #DEDDE0;
    line-height: 1.5;
}
.footer{
    color: #8697A8;
    font-size: 0.875rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}
.filter{
    display: inline-flex;
    flex-wrap: wrap;
    list-style: none;
    margin-bottom: 1.1875rem;
    padding: 0;
}
.filter__item{
    padding-right: 1.1875rem;
}
.filter__link{
    color: #8697A8;
    padding: 0 0.25rem;
    text-decoration: none;
    display: block;
    overflow: hidden;
    position: relative;
    transition: all 0.3s;
}
.gallery-grid__item{
    margin-bottom: 0;
    display: block;
    margin-left: 8px;
    margin-right: 8px;
}
.gallery-grid__image-wrap{
    height: 11rem;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 1;
}
.gallery-grid__image{
    border-radius: 10px;
    transform: scale3d(1, 1, 1);
    height: 100%;
    width: 100%;
}
.gallery-grid__title{
    font-size: 0.9375rem;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 0;
}
.gallery-grid__category{
    font-size: 0.875rem;
    color: #8697A8;
    display: block;
}

.header-post__date {
    color: #8697A8;
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}
.gallery-post__item{
    flex: calc(50% - 32px);
    height: 600px;
    max-height: 80vw;
    width: calc(50% - 32px);
    object-fit: cover;
}
.footer-post{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2rem;
    padding-top: 1.5rem;
    position: relative;
}
.footer-post::before{
    content: '';
    background-color: #44566C;
    height: 0.0625rem;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 15%;
    background-color: rgba(255, 255, 255, 0.6);
}
.footer-post__share{
    display: flex;
    align-items: baseline;
    color: #fff;
    text-decoration: none;
    transition: all 0.4s;
    font-size: 0.875rem;
    margin: 0 1.0625rem;
}
.caption-post{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    width: 80%;
}
.block-quote{
    font-size: 1.3125rem;
    font-weight: 400;
    font-style: italic;
    margin: 1.8125rem 0;
    position: relative;
    line-height: 1.6;
}
.block-quote::before{
    background-image: url(https://art-template.ru/vcard1/assets/images/icon-quote.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    content: '';
    height: 2.125rem;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: -3.375rem;
    width: 2.125rem;
}
.block-quote__author{
    font-size: 1rem;
    font-style: normal;
    display: block;
    margin-top: 0.5625rem;
    padding-left: 3rem;
    position: relative;
}
.block-quote__author::before{
    content: "";
    background-color: #F0F0F6;
    height: 0.0625rem;
    margin-bottom: auto;
    margin-top: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 2rem;
}

/* contact */

.title__separate{
    margin-bottom: 2.3125rem;
    position: relative;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.3;
}
.map{
    background-color: #F5F8F9;
    border-radius: 14px;
    height: 24rem;
    margin-bottom: 2rem;
    position: relative;
    direction: ltr;
}
.title-contact-form{
    color: #F1F2F4;
    font-size: 1.5rem;
    margin-bottom: 1.3125rem;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.form-group{
    margin-bottom: 2rem;
    position: relative;
}
.input{
    outline: none !important;
    background-color: #2C283A !important;
    border: 1px solid #2C283A !important;
    color: #F1F2F4 !important;
    line-height: inherit;

    border-radius: 20px;
    box-shadow: none;
    font-size: inherit;
    height: auto;
    padding: 0.875rem 1.375rem 0.8125rem;
    position: relative;
    width: 100%;
    appearance: none;
}
.textarea{
    border-radius: 20px;
    display: block;
    padding: 0.8125rem 1.1875rem;
    background-color: #2C283A !important;
    border: 1px solid #2C283A !important;
    color: #F1F2F4 !important;
}
._btn{
    opacity: .65 !important;
    background-color: #0D86FF;
    box-shadow: 0 0.5rem 1rem rgb(13 134 255 / 15%), 0 0.125rem 0.25rem rgb(13 134 255 / 15%);
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 400;
    line-height: inherit;
    padding: 0.9375rem 2rem 0.875rem;
    position: relative;
    transition: .4s ease-in-out;
    white-space: nowrap;
    border-radius: 20px;
    border: 0;
    text-align: center;
}
._btn:hover{
    opacity: 25 !important;
}

/* blog */

.news-grid{
    display: flex;
    flex-wrap: wrap;
    margin-left: -0.9375rem;
    margin-right: -0.9375rem;
}
.news-item{
    background-color: #2C283A;
    border-radius: 20px;
    margin-bottom: 1.875rem;
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
    padding: 0;
    width: calc(50% - 30px);
}

.news-item:hover .cover{
    transform: scale(1.1);
}

.news-item__image-wrap{
    overflow: hidden;
    border-radius: 20px 20px 0 0;
    height: 14rem;
    position: relative;
}
.news-item__image-wrap::before{
    opacity: 0;
    transition: opacity .5s ease-in-out;
    background-color: rgba(68, 86, 108, 0.45);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
}
.news-item__date{
    background-color: #2C283A;
    color: #DEDDE0;
    border-radius: 0 0.625rem 0 0;
    font-size: 0.875rem;
    padding-left: 0.8125rem;
    padding-right: 0.8125rem;
    padding-bottom: 0.1875rem;
    padding-top: 0.3125rem;
    position: absolute;
    bottom: 0;
    z-index: 2;
}
.news-item__link{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
}
.cover{
    object-fit: cover;
    object-position: center;
    font-family: 'object-fit: cover; object-position: center;';
    height: 100%;
    width: 100%;
    transition: all 0.3s;
}
.news-item__caption{
    padding: 1.8rem 1.8rem 0.5rem;
}
.news-item__caption h2{
    font-size: 1.25rem;
    margin-bottom: 0.8125rem;
}